<form
  (submit)="submitTask(); $event.preventDefault()"
  class="px-8 pt-6 pb-8 mb-4 flex flex-col gap-6"
>
  <h2 class="text-xl font-semibold">Add new task</h2>

  <div class="flex flex-col gap-2">
    <label for="title" class="text-md font-medium">Task Title</label>
    <input
      type="text"
      id="title"
      [(ngModel)]="title"
      name="title"
      placeholder="Titre"
      class="shadow appearance-none border border-gray-300 rounded-lg w-full py-2 px-3 text-gray-700"
      required
    />
  </div>
  <div class="flex flex-col gap-2">
    <label for="description">Describe your task (optional)</label>
    <textarea
      id="description"
      [(ngModel)]="description"
      name="description"
      placeholder="Description"
      rows="3"
      class="shadow appearance-none border border-gray-300 rounded-lg w-full py-2 px-3 text-gray-700"
    ></textarea>
  </div>
  <button
    type="submit"
    class="cursor-pointer w-full bg-slate-900 text-white py-2 rounded-lg hover:bg-slate-800 transition duration-200"
  >
    Ajouter
  </button>
</form>
