<main
  class="container max-w-[800px] min-h-screen flex flec-col items-center justify-center mx-auto py-4 px-2"
>
  <div class="w-full">
    <h1 class="text-3xl font-bold text-center text-slate-800 mb-3">
      📝 Task Manager
    </h1>
    <p class="text-gray-500 text-center mb-8">Organize your day efficiently</p>

    <div
      *ngIf="currentUser"
      class="w-full my-4 py-6 px-6 rounded-xl bg-emerald-50/30 flex justify-between items-center"
    >
      <div class="flex gap-3 items-center">
        <div
          class="rounded-full size-16 bg-slate-100 flex items-center justify-center"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="36"
            height="36"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
            <circle cx="12" cy="7" r="4"></circle>
          </svg>
        </div>
        <p class="font-semibold text-xl">
          Welcome <span class="font-bold">{{ currentUser.username }}</span>
        </p>
      </div>

      <button
        class="rounded-lg bg-transparent border py-2 px-4 cursor-pointer hover:bg-slate-600 hover:text-white transition-all h-fit"
        (click)="logout()"
      >
        Logout
      </button>
    </div>
    <task-form
      *ngIf="showModal"
      [title]="title"
      [description]="description"
      [editingTask]="editingTask"
      (titleChange)="title = $event"
      (descriptionChange)="description = $event"
      (submitForm)="submitTask()"
      (saved)="onTaskSaved()"
      (cancel)="closeModal()"
    ></task-form>

    <confirmation-modal
      *ngIf="showDeleteModal"
      (confirm)="confirmDelete()"
      (cancel)="showDeleteModal = false"
    ></confirmation-modal>

    <div class="flex justify-end mb-4">
      <button
        class="bg-slate-900 rounded-lg hover:bg-slate-800 text-white px-4 py-2 shadow"
        (click)="openModal()"
      >
        New task
      </button>
    </div>

    <div>
      <h2 class="text-3xl font-bold mb-8">All your tasks</h2>
      <div *ngIf="tasks.length === 0" class="text-center py-8 text-gray-500">
        <p class="text-xl">No tasks yet! Click "New task" to get started.</p>
      </div>
      <ul class="space-y-4">
        <li
          *ngFor="let task of tasks"
          class="bg-white border border-gray-300 hover:shadow-md rounded-xl px-4 py-4 flex gap-2 justify-between items-center transition-all"
        >
          <div>
            <h3 class="text-lg font-semibold text-gray-800">
              {{ task.title }}
            </h3>
            <p class="text-gray-600">{{ task.description }}</p>
          </div>
          <div class="flex gap-2">
            <button
              (click)="editTask(task)"
              class="bg-emerald-500 hover:bg-emerald-600 text-white rounded-lg py-1 px-3"
            >
              Edit
            </button>
            <button
              (click)="openDeleteModal(task._id!)"
              class="bg-red-500 hover:bg-red-600 text-white rounded-lg py-1 px-3"
            >
              Delete
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</main>
